[Unit]
Description=AWWW Daemon (user)
After=graphical-session.target
Wants=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/awww-daemon
Restart=on-failure

[Install]
WantedBy=graphical-session.target
